definitions:
  xBase.BaseResponse:
    properties:
      code:
        type: integer
      context:
        type: string
      data: {}
      error_message:
        type: string
      message:
        type: string
      output:
        type: string
      overhead:
        type: integer
    type: object
info:
  contact: {}
paths:
  /api/v1/user/info:
    get:
      consumes:
      - application/json
      description: 根据 AT 获取用户信息
      produces:
      - application/json
      responses:
        "200":
          description: 登录成功
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
        "400":
          description: 请求体格式不正确
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
        "401":
          description: 用户名或密码错误
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
        "403":
          description: 用户已禁用或账户已锁定
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
        "404":
          description: 用户不存在
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
      summary: '[用户] 用户信息'
      tags:
      - 用户接口
swagger: "2.0"
