definitions:
  entity.GameProfile:
    properties:
      cape_url:
        description: 披风URL
        type: string
      id:
        type: integer
      name:
        description: 游戏内用户名
        type: string
      skin_url:
        description: 皮肤URL
        type: string
      updated_at:
        type: string
      user:
        allOf:
        - $ref: '#/definitions/entity.User'
        description: |-
          ----------
           外键约束
          ----------
      user_id:
        description: 关联用户ID
        type: integer
      uuid:
        description: Minecraft UUID
        type: string
    type: object
  entity.Role:
    properties:
      description:
        description: 角色描述
        type: string
      display_name:
        description: 角色显示名称
        type: string
      name:
        allOf:
        - $ref: '#/definitions/entity.RoleName'
        description: 角色名称
    type: object
  entity.RoleName:
    enum:
    - SUPER_ADMIN
    - ADMIN
    - PLAYER
    type: string
    x-enum-comments:
      RoleAdmin: 管理员角色名称
      RolePlayer: 普通玩家角色名称
      RoleSuperAdmin: 超级管理员角色名称
    x-enum-descriptions:
    - 超级管理员角色名称
    - 管理员角色名称
    - 普通玩家角色名称
    x-enum-varnames:
    - RoleSuperAdmin
    - RoleAdmin
    - RolePlayer
  entity.User:
    properties:
      email:
        description: 用户邮箱
        type: string
      game_profiles:
        description: 游戏档案关联
        items:
          $ref: '#/definitions/entity.GameProfile'
        type: array
      has_ban:
        description: 用户是否被封禁禁止登录
        type: boolean
      id:
        type: integer
      jailed_at:
        description: 用户被监禁的时间
        type: string
      phone:
        description: 用户手机号
        type: string
      role:
        allOf:
        - $ref: '#/definitions/entity.Role'
        description: |-
          ----------
           外键约束
          ----------
      role_name:
        description: 关联角色名称
        type: string
      updated_at:
        type: string
      username:
        description: 用户用户名
        type: string
    type: object
  user.AddGameProfileRequest:
    properties:
      name:
        type: string
    required:
    - name
    type: object
  user.ChangeUsernameRequest:
    properties:
      new_name:
        type: string
    required:
    - new_name
    type: object
  xBase.BaseResponse:
    properties:
      code:
        type: integer
      context:
        type: string
      data: {}
      error_message:
        type: string
      message:
        type: string
      output:
        type: string
      overhead:
        type: integer
    type: object
info:
  contact: {}
paths:
  /api/v1/game-profile:
    post:
      consumes:
      - application/json
      description: 根据当前登录用户创建游戏档案，UUID 由系统按 UUIDv7 自动生成
      parameters:
      - description: 创建游戏档案请求
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.AddGameProfileRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 创建成功
          schema:
            allOf:
            - $ref: '#/definitions/xBase.BaseResponse'
            - properties:
                data:
                  $ref: '#/definitions/entity.GameProfile'
              type: object
        "400":
          description: 请求参数错误
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
        "401":
          description: 未授权
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
        "404":
          description: 资源不存在
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
        "409":
          description: 资源冲突
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
        "503":
          description: 资源耗尽
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
      summary: '[玩家] 创建游戏档案'
      tags:
      - 游戏档案接口
  /api/v1/game-profile/{profile_id}/username:
    patch:
      consumes:
      - application/json
      description: 根据档案 ID 修改游戏档案用户名
      parameters:
      - description: 游戏档案 ID
        in: path
        name: profile_id
        required: true
        type: string
      - description: 修改用户名请求
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.ChangeUsernameRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 修改成功
          schema:
            allOf:
            - $ref: '#/definitions/xBase.BaseResponse'
            - properties:
                data:
                  $ref: '#/definitions/entity.GameProfile'
              type: object
        "400":
          description: 请求参数错误
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
        "401":
          description: 未授权
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
        "404":
          description: 资源不存在
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
        "409":
          description: 资源冲突
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
      summary: '[玩家] 修改用户名'
      tags:
      - 游戏档案接口
  /api/v1/user/info:
    get:
      consumes:
      - application/json
      description: 根据 AT 获取用户信息，获取到本程序的用户信息
      produces:
      - application/json
      responses:
        "200":
          description: 登录成功
          schema:
            allOf:
            - $ref: '#/definitions/xBase.BaseResponse'
            - properties:
                data:
                  $ref: '#/definitions/entity.User'
              type: object
        "400":
          description: 请求体格式不正确
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
        "401":
          description: 用户名或密码错误
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
        "403":
          description: 用户已禁用或账户已锁定
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
        "404":
          description: 用户不存在
          schema:
            $ref: '#/definitions/xBase.BaseResponse'
      summary: '[玩家] 用户信息'
      tags:
      - 用户接口
swagger: "2.0"
